@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is the Calculator app for Advanced Oriented Programming Methods class, leading by dr Piotr Dobosz.<br />
    AHNS in Radom.</p>
<p>Copyright: Magda Szafranska, the index number: 18345 </p>
